<style type="text/css">
    .currency-bg span{
        display: inline-block;
        height:32px;
    }
    .coin-title{
        width: 92px;
        height: 24px;
        color: #000000;
        font-size: 30px;
        font-weight: 700;
    }
    .coin-button{
        width: 199px;
        height: 60px;
        border-radius: 10px;
        background-color: #5a508e;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .mt-24{
        margin-top: 24px;
    }
    .btcPrice{
        /* Style for "$6,193.83" */
        /*width: 521px;*/
        height: 26px;
        color: #000000;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
        /* Text style for "(-3.64%)" */
        /*color: #e20000;*/
        /* Text style for "1.00000000" */
        /*color: #999999;*/
        /* Text style for "" */
        /*color: #888888;*/
        /* Text style for "(0.00%)" */
        /*color: #24ab41;*/
    }
    .charge-24{
         /*width: 521px;*/
        height: 26px;
        color: #e20000;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .mt-20{
        margin-top: 20px;
    }
    .mt-4{
        margin-top: 4px;
    }
    .btc-sub{
        /*width: 521px;*/
        height: 26px;
        color: #888888;
        font-size: 24px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .hist-table{
        padding: 13px 29px;
        width: 870px;
        height: 45px;
        border-radius: 10px;
        background-color: #f2f2f2;
        margin-top: 37px;
    }
    .sub-hist-table{
        width: 830px;
        margin-top: 25px;
        /* height: 46px; */
        color: #000000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        color: #999999;
    }
    .h-body{
        margin-top: 24px;
        width: 1230px;
        /*height: 298px;*/
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        background-color: #ffffff;
    }
    .h-head{
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 18px;
        width: 1230px;
        height: 45px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #5a508e;
    }
    .p-16{
        padding: 16px;
    }
    .h-data-child{
        font-size: 16px;
        color: #000000;
        font-weight: 400;
    }
</style>
<template>
    <div class="container mt-20">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12">
                                <span class="currency-bg">
                                    <span class="sprite small_coin_logo" :class="`sprite-`+coinDetail.alt_name"></span>
                                    <span class="coin-title">{{ coinDetail.display_name }}</span>
                                </span>
                            </div>
                            <div class="col-xs-12 mt-24">
                               <a href="/purchase"><button class="btn coin-button">Buy Now</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 pull-right mt-4">
                        <div class="row">
                            <div class="col-xs-12">
                                <span  style="float: right;" class="btc-sub">1.00000000 BTC (0.00%) </span>
                                <span style="float: right;"  :class="[coinDetail.cap24hrChange > 0 ? 'positive_number' : 'negative_number','charge-24' ]">({{coinDetail.cap24hrChange}}%)</span>
                                <span class="btcPrice" style="float: right;">${{ coinDetail.btcPrice }}USD</span>
                            </div>
                            <div class="col-xs-12 hist-table">
                                <div class="row">
                                    <div class="col-xs-3"><span>Market Cap</span></div>
                                    <div class="col-xs-3"><span> Volume (24h)</span></div>
                                    <div class="col-xs-3"><span>Circulating Supply</span></div>
                                    <div class="col-xs-3"><span>Max Supply</span></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 sub-hist-table">
                                <div class="row">
                                    <div class="col-xs-3">
                                            <span>$106,384,211,619 USD</span><br>
                                            <span>17,145,387 BTC</span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span> $3,629,650,000 USD</span><br>
                                        <span>585,803 BTC</span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>21,000,000 BTC</span><br>
                                        <span></span>
                                    </div>
                                    <div class="col-xs-3">
                                        <span>17,145,387 BTC</span><br>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div id="container" style="height: 400px; min-width: 310px"></div>
            </div>
            <div class="col-xs-12 h-body">
                <div class="row h-head">
                    <div class="col-xs-3">Date</div>
                    <div class="col-xs-2">Close</div>
                    <div class="col-xs-2">High</div>
                    <div class="col-xs-2">Low</div>
                     <div class="col-xs-3">Volume</div>
                </div>
                <div class="row h-data p-16" v-for="historydata in history"> 
                    <div class="col-xs-3 h-data-child">{{ historydata.time | moment("ll") }}</div>
                    <div class="col-xs-2 h-data-child">$ {{ historydata.close }}</div>
                    <div class="col-xs-2 h-data-child">$ {{ historydata.high }}</div>
                    <div class="col-xs-2 h-data-child">$ {{ historydata.low }}</div>
                     <div class="col-xs-3 h-data-child"> {{ historydata.vol }}</div>
                </div>

                <!-- <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Close</th>
                            <th>High</th>
                            <th>Low</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="historydata in history">
                            <td>{{ historydata.time | moment("dddd, MMMM Do YYYY") }}</td>
                            <td>{{ historydata.close }}</td>
                            <td>{{ historydata.high }}</td>
                            <td>{{ historydata.low }}</td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props:['symbol','currency'],
    data(){
        return {
            coinDetail:{},
            mycoin:'',
            history: [],
            currencyarr: [],
            dataentry: null,
            datalabel: null,
            labels: [],
            dataset: [],
            xaxis : true,
            mywidth : 500,
            myheight : 500,
            myboolean : false,
            mylabel : 'Currency Value',
            myfill : true,
            mytension : 0,
            mybackgroundcolor : 'rgba(75,192,192,0.1)',
            mybordercolor : '#00c853',
             myoption:{
                legend: {
                    display: false
                },
                   scales: {
                    xAxes: [{
                        display: false,
                    }],

                }
            }
        };
    },
    created(){
        this.getData();
        let that = this;
        this.fetchGraphData(this.symbol,this.currency,'1day');
        setTimeout(function(){
            $.getJSON('https://coincap.io/history/'+that.symbol, function (data) {
                Highcharts.stockChart('container', {
                        credits: {
                            enabled: false
                        },
                        chart: {
                            alignTicks: false,
                            zoomType: 'xy'
                        },
                        title: {
                            text: that.symbol+' Charts',
                            align:'left'
                        },
                        tooltip: {
                            shared: true,
                            split: false,
                            hideDelay: 50
                        },
                        rangeSelector: {
                            buttons: [{
                                type: 'day',
                                count: 7,
                                text: '1h',
                                events: {
                                    click: function() {
                                        that.fetchGraphData(that.symbol,that.currency,'1hour')
                                    }
                                }
                            },{
                                type: 'month',
                                count: 1,
                                text: '12h',
                                events: {
                                    click: function() {
                                        that.fetchGraphData(that.symbol,that.currency,'12hour')
                                    }
                                }
                            }, {
                                type: 'month',
                                count: 3,
                                text: '1d', events: {
                                    click: function() {
                                        that.fetchGraphData(that.symbol,that.currency,'1day')
                                    }
                                }
                            },{
                                type: 'year',
                                count: 1,
                                text: '3d', events: {
                                    click: function() {
                                        that.fetchGraphData(that.symbol,that.currency,'3day')
                                    }
                                }
                            }, {
                                type: 'all',
                                text: 'All', events: {
                                    click: function() {
                                    }
                                }
                            }]
                        },
                        yAxis: [{
                            // Primary yAxis
                            labels: {
                                format: '{value} USD',
                                // style: {
                                //     color: Highcharts.getOptions().colors[1]
                                // }
                            },
                            title: {
                                text: 'Market Cap',
                                // style: {
                                //     color: Highcharts.getOptions().colors[1]
                                // }
                            },
                            opposite: false,
                        // tickInterval: 100000000,
                        },{ // Secondary yAxis
                            title: {
                                text: 'Price',
                                // style: {
                                //     color: Highcharts.getOptions().colors[0]
                                // }
                            },
                             // tickInterval: 500,
                            labels: {
                                format: '{value}  BTC',
                                // style: {
                                //     color: Highcharts.getOptions().colors[0]
                                // }
                            }
                        }],
                        tooltip: {
                            shared: true
                        },
                        series : [{
                    name : 'Price',
                    data:data.price,
                    yAxis: 1,
                    type: 'line',
                    tooltip: {
                        valueDecimals: 2,
                        valuePrefix: ' $'
                    }
                            },
                            {
                                name : 'Market Cap',
                                data: data.market_cap,
                                type: 'line',
                                tooltip: {
                                    valueDecimals: 2,
                                    valuePrefix: ' $'
                                }
                            }]
                });
            });
        },500);
    },
    methods:
    {
    //fetch for 7days, 1month, 3 month, 1 year
        fetchGraphData(symbol,currency,param){
            let requestParams= {
                    params: {
                        'currency': currency,
                         'symbol' : symbol,
                         'param' : param
                    }
                };
            axios.get('/historicalgraph',requestParams).then((response) => {
                console.log(response);
                let responseData = response.data;
                let dataHistory = responseData.dataHistory;
                let datacurrency = responseData.datacurrency;
                this.history = responseData.mydata;
                this.labels = responseData.historygraphDatalabels;
                this.dataset = responseData.historygraphDataset;
                // this.currencyarr = responseData.datacurrency[0];
            })
            .catch((error) => {
                console.log(error);
            });
        },
        addData: function addData() {
            this.dataset.push(this.dataentry);
            this.labels.push(this.datalabel);
            this.datalabel = '';
            this.dataentry = '';
        },
        getData () {
            let self = this;
            let requestParams= {
                    params: {
                       'count' : 0
                    }
                };
            axios.get('https://coincap.io/page/'+this.symbol).then((response) => {
                let responseData = response.data;
                this.coinDetail = responseData;
            }).catch((error) => {
            });
        },
    },

}

</script>







