<template>
    <div style="min-height: 48px;">
        <div class="input-search-3">
            <input type="text" v-model="queryString" v-on:keyup="getResults()" placeholder="Search__" class="form-control input-box">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <div class="panel-footer" v-if="currencylist.length">
            <ul class="list-group">
                <li class="list-group-item" v-for="currency in currencylist"> {{currency}} </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            queryString : '',
            currencylist : [],
        }
    },
    methods: {
        getResults(){
            window.Event.$emit('searchList', this.queryString);
           //  currencylist : [];
           //  let requestParams= {
           //          params: {
           //             'queryString' : this.queryString,
           //          }
           //      };
           //  axios.get('/search',requestParams)
           //  .then((response) => {
           //      this.currencylist = response.data;
           // })
        }
    },
}
</script>