<template>
<div class="parrent">
    <div class="row">
            <div class="col-md-6">
                <input class="currency-select-box" v-model="amountconvert" type="text" name="currency-from-amount">
                
					
            </div><!--.col-->
             <div class="col-md-6">
                <span class="total-value">{{amountconvert * exchangevalue | currency }}  {{toCurrency}}</span>
	        </div><!--.col-->
        </div>
        <div class="row">
            <div class="col-md-6">
               <select class="currency-select-box" v-model="fromCurrency" id="from-currency" name="from-currency" @change="exchangecurrency()">
					  <option value="btc">btc</option>
					  <option value="eth">eth</option>
				</select>
					
            </div><!--.col-->
             <div class="col-md-6">
               <!--  <span >{{exchangevalue }}  {{toCurrency}}</span> -->
	            <select class="currency-select-box" v-model="toCurrency" id="to-currency" name="to-currency"  @change="exchangecurrency()">
					  <option value="usd">USD</option>
					  <option value="eth">ETH</option>
				</select>
					
	        </div><!--.col-->
        </div>
        </div>
</template>

<script>
    export default {
        data(){
        	 return {
            fromCurrency: 'btc',
            toCurrency: 'usd',
            amountconvert: 1,
            exchangevalue: 0,
            convertedamount : 0,

        	};
        },
        mounted()
        {
            this.exchangecurrency();
        },
        filters: {
  	  	  currency(amount) {
    	  const amt = Number(amount)
	      return amt && amt.toLocaleString(undefined, {maximumFractionDigits:2}) || '0'
		    }
		  },
    	methods:
		    {
		    //get exchange valeue
		    exchangecurrency()
		     {
		     	/*console.log(this.fromCurrency);
		     	console.log(this.toCurrency);*/

		     	 let requestParams= {
                    params: {
                        'currencyfrom': this.fromCurrency,
                         'currencyto' : this.toCurrency
                    }
                };

		       axios.get('/getexchangevalue', requestParams)
		                    .then((response) => {
		                       	

		                    	// console.log(response);
		                        // let responseData = response.data;
		                        //let exchangevalue = responseData.currencies;
		                       
		                      // console.log(responseData.currencies.price);

		                       // this.exchangevalue = responseData.currencies.price;
		                        
		                      
				                        
		                    })
		                    .catch((error) => {
		                        console.log(error);
		                    });
		     },
		      getcurrency()
		     {
		     
		       axios.get('/getcurrencies', requestParams)
		                    .then((response) => {
		                       	
		                    	console.log(response);
		                        let responseData = response.data;
		                        //let exchangevalue = responseData.currencies;
		                       
		                       console.log(responseData.currencies.price);

		                       this.exchangevalue = responseData.currencies.price;
		                        
		                      
				                        
		                    })
		                    .catch((error) => {
		                        console.log(error);
		                    });
		     },


		 },

    }
</script>
