<template>
        <div id="container" style="height: 400px; min-width: 310px"></div>
</template>
<script>

export default {
    data(){
        return {
          mycoin:'',
           
           }
        }, 
        
    created(){
      // let coin = '';
      let that = this;
        window.Event.$on('history-graph-data', (symbol,currency,param) => {
          // console.log(symbol,currency,param);
             this.mycoin = symbol;
             this.fetchGraphData(symbol,currency,param);
        })
                // this.getCharts();
              setTimeout(function(){

              $.getJSON('https://coincap.io/history/'+that.mycoin, function (data) {
                         Highcharts.stockChart('container', {
                          credits: {
                // $.getJSON('https://www.okcoin.com/api/v1/kline.do?symbol='+that.mycoin+'_usd&type=1min', function (data) {
                //          Highcharts.stockChart('container', {
                //           credits: {

    enabled: false
  },

                                                        chart: {
                                                             alignTicks: false,
                zoomType: 'xy'
            },
            
            title: {
                text: that.mycoin+' Charts',
                align:'left'
            },
          
          tooltip: {
                    shared: true,
                    split: false,
                    hideDelay: 50
                    // xDateFormat: this.polyglot.t('dateFormat') + formatTimezoneOffset(timezoneOffset)
                },
                    rangeSelector : {
                        selected : 1,
                    },
                    
                    yAxis: [{
                     // Primary yAxis
                        labels: {
                            format: '{value} USD',
                            // style: {
                            //     color: Highcharts.getOptions().colors[1]
                            // }
                        },
                        title: {
                            text: 'Market Cap',
                            // style: {
                            //     color: Highcharts.getOptions().colors[1]
                            // }
                        },
                        opposite: false,
                        // tickInterval: 100000000,
                    }, { // Secondary yAxis
                        title: {
                            text: 'Price',
                            // style: {
                            //     color: Highcharts.getOptions().colors[0]
                            // }
                        },
                         // tickInterval: 500,
                        labels: {
                            format: '{value}  BTC',
                            // style: {
                            //     color: Highcharts.getOptions().colors[0]
                            // }
                        }
                    }],
                     tooltip: {
                shared: true
            },
            series : [{
                name : 'Price',
                data:data.price,
                yAxis: 1,
                type: 'line',
                tooltip: {
                    valueDecimals: 2,
                    valuePrefix: ' $'
                }
            },
            {
                name : 'Market Cap',
                data: data.market_cap,
                type: 'line',
                tooltip: {
                    valueDecimals: 2,
                    valuePrefix: ' $'
                }
            }]
              });
            });

              },500);
        }, 
    methods:
    {
    //fetch for 7days, 1month, 3 month, 1 year
    fetchGraphData(symbol,currency,param)
     {

         let requestParams= {
                    params: {
                        'currency': currency,
                         'symbol' : symbol,
                         'param' : param
                    }
                };


       axios.get('/historicalgraph',requestParams)
                    .then((response) => {

                        let responseData = response.data;
                        let dataHistory = responseData.dataHistory;
                        let datacurrency = responseData.datacurrency;


                        this.history = responseData.dataHistory;
                        this.labels = responseData.historygraphDatalabels;
                        this.dataset = responseData.historygraphDataset;
                        this.currencyarr = responseData.datacurrency[0];

                        
                       
                        console.log(response);
                        
                    })
                    .catch((error) => {
                        console.log(error);
                    });
     },

     addData: function addData() {
            this.dataset.push(this.dataentry);
            this.labels.push(this.datalabel);
            this.datalabel = '';
            this.dataentry = '';
          }
    }, 

}

</script>







