<style type="text/css">
    .price-list a{
        line-height: 17px;
        width: 100%;
        padding-left: 30px;
        display: flex;
        align-items: center;
    }
</style>
<template>
    <div id="scroll-user">
        <div class="tab-view">
            <ul >
                <li class="price-list" v-model="criptocurrenccy" v-for="criptocurrenccySingle in filteredList">
                    <a :href='getUrl(criptocurrenccySingle)' target="_blank">
                        <span class="currency-bg">
                            <span class="sprite small_coin_logo" :class="`sprite-`+criptocurrenccySingle.id"></span>
                            {{criptocurrenccySingle.id}}
                        </span>
                        <span class="responive-table color-lightgray">Market Cap</span><span class="responsive-table-prices color-lightgray">$ {{criptocurrenccySingle.market_cap_usd | numberformat}}</span>
                        <span class="responive-table">Price</span><span class="responsive-table-prices">$ {{criptocurrenccySingle.price_usd | numberformat}}</span>
                        <span class="responive-table color-lightgray">Volume</span><span class="responsive-table-prices color-lightgray">$ {{ criptocurrenccySingle['24h_volume_usd'] | numberformat }}</span>
                        <span class="color-black responive-table">Circulating Supply</span><span class="responsive-table-prices">{{criptocurrenccySingle.available_supply | numberformat}}</span>
                        <span class="color-black responive-table color-lightgray">Change</span><span class="responsive-table-prices color-lightgray" :class="[criptocurrenccySingle.percent_change_24h > 0 ? 'positive_number' : 'negative_number' ]">{{criptocurrenccySingle.percent_change_24h}}</span>
                        <span class="padding-top-10px"><maps-component :symbol="criptocurrenccySingle.symbol"></maps-component></span>
                    </a>
                </li>
            </ul>
        </div>
         <div class="desktop-view">
            <ul >
                <li class="price-list" v-model="criptocurrenccy" v-for="criptocurrenccySingle in filteredList">
                    <a :href='getUrl(criptocurrenccySingle)' target="_blank">
                        <span class="currency-bg">
                            <span class="sprite small_coin_logo" :class="`sprite-`+criptocurrenccySingle.id"></span>
                            {{criptocurrenccySingle.id}}
                        </span>
                        <span>$ {{criptocurrenccySingle.market_cap_usd | numberformat}}</span>
                        <span>$ {{criptocurrenccySingle.price_usd | numberformat}}</span>
                        <span>$ {{ criptocurrenccySingle['24h_volume_usd'] | numberformat }}</span>
                        <span>{{criptocurrenccySingle.available_supply | numberformat}}</span>
                        <span :class="[criptocurrenccySingle.percent_change_24h > 0 ? 'positive_number' : 'negative_number' ]">{{criptocurrenccySingle.percent_change_24h}}</span>
                        <span><maps-component :symbol="criptocurrenccySingle.symbol"></maps-component></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            criptocurrenccy : [],
            countload : 15,
            searchQuery :''
        }
    },
    created(){
        window.Event.$on('searchList',searchQuery => {
            this.searchQuery = searchQuery;
        })
    },
    methods: {
        getUrl(criptocurrenccySingle){
            return '/historicaldata/'+criptocurrenccySingle.symbol+'/'+criptocurrenccySingle.id;
        },
        getInitialUsers () {
            let requestParams= {
                    params: {
                       'count' : 0
                    }
                };
            axios.get('/getcryptocurrencydata',requestParams).then((response) => {
                let responseData = response.data;
                this.criptocurrenccy = response.data.data_to_display_in_page;
            }).catch((error) => {
            });
        },
        scroll (criptocurrenccy) {
            window.onscroll = () => {
                let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
                if (bottomOfWindow) {
                    let requestParams= {
                            params: {
                               'count' : this.countload
                            }
                    };
                    axios.get('/getcryptocurrencydata',requestParams).then((response) => {
                        let responseData = response.data;
                       let tempcrypto = response.data.data_to_display_in_page;
                       this.updateCrypto(tempcrypto);
                       this.countload += 5;
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                }
            };
        },
        updateCrypto(tempcrypto) {
            let self = this;
            tempcrypto.forEach(function(element) {
                self.criptocurrenccy.push(element);
            });
        },
    },
    computed: {
        filteredList() {
            return this.criptocurrenccy.filter(post => {
                return post.id.toLowerCase().includes(this.searchQuery.toLowerCase())
            })
        }
    },
    filters: {
        numberformat: function(amount) {
            return new Intl.NumberFormat({ style: 'currency', currency: 'USA' }).format(amount);
        }
    },
    beforeMount() {
        this.getInitialUsers();
    },
    mounted() {
        this.scroll(this.criptocurrenccy);
    }
}
</script>
