<template>
<div >
<p class="loading-img" v-if="show"><img src="img/loading_icon.gif"></p>
            <chartjs-line :scalesdisplay=xaxis :beginzero="myboolean" :labels="labels" :data="dataset" :bind="true" :width="mywidth" :height="myheight" :datalabel="mylabel" :fill="myfill" :backgroundcolor="mybackgroundcolor" :bordercolor="mybordercolor" :option="myoption"
            ></chartjs-line>

            </div>

</template>


<script>

export default {
	props:['symbol'],
    data(){
        return {
            show : true,
            dataentry: null,
            datalabel: null,
            labels: [],
            dataset: [],
            xaxis : false,
            mywidth : 100,
            myheight : 40,
            myboolean : true,
            mylabel : '',
            myfill : true,
            mybackgroundcolor : 'rgba(232,227,255,0.9)',
            mybordercolor : '#5a508e',
            myoption:{
                tooltips:
                     {
                       position: 'nearest',
                     },
                maintainAspectRatio: false,
                legend: {
                    display: false
                    },
                   scales: {
                    xAxes: [{
                        display: false,
                    }],
                     yAxes: [{
                        display: false,
                    }],

                    },

            }
           };
        },
        created(){
           this.fetchGraphData();
   
        },
    methods:
    {
    //fetch for homepage
    fetchGraphData()
    {

    	//console.log(this.symbol);

         let requestParams= {
                    params: {
                       'symbol' : this.symbol
                    }
                };

       axios.get('/homepagegraph',requestParams)
                    .then((response) => {

                        let responseData = response.data;
                   
                        this.labels = responseData.historygraphDatalabels;
                        this.dataset = responseData.historygraphDataset;
                        this.show=false;
                      
                       // console.log(response);
                        
                    })
                    .catch((error) => {
                        console.log(error);
                    });
     },
       // addData: function addData() {
       //      this.dataset.push(this.dataentry);
       //      this.labels.push(this.datalabel);
       //      this.datalabel = '';
       //      this.dataentry = '';
       //    }
    }, 

}

</script>
