<template>
    <div class="container">
            <nav class="navbar">
                <div class="graphtabination">
                    <a href="#" class="timeduration" @click.prevent="historygraphdata('1day')">1d</a>
                    <a href="#" class="timeduration" @click.prevent="historygraphdata('1hour')">1h</a>
                    <a href="#" class="timeduration" @click.prevent="historygraphdata('12hour')">12h</a>
                    <a href="#" class="timeduration" @click.prevent="historygraphdata('1day')">1d</a>
                    <a href="#" class="timeduration" @click.prevent="historygraphdata('3day')">3d</a>
                </div><!--.graphtabination-->
            </nav> 
    </div>
</template>
<script>
    export default {
        props:['symbol','currency'],
        
        mounted()
        {
            this.historygraphdata('3months');
        },
        methods: {
          historygraphdata(param)
            {
                window.Event.$emit('history-graph-data', this.symbol,this.currency,param);
            }
        } 
        
       
        }

</script>