.sprite {
  background: url("/images/cryptowarden_logos.png") no-repeat;
  width: 25px !important;
  height: 25px;
  top: 7px;
  position: relative;
  left: -8px;
}

.sprite-0x {
  background-position: -40px -5px;
  background-size: 941px 910px;
}

.sprite-lbry_credits {
  background-position: -5px -5px;
  background-size: 941px 910px;
}

.sprite-2give {
  background-position: -5px -40px;
  background-size: 941px 910px;
}

.sprite-300token {
  background-position: -40px -40px;
  background-size: 941px 910px;
}

.sprite-808coin {
  background-position: -75px -5px;
  background-size: 941px 910px;
}

.sprite-8bit {
  background-position: -75px -40px;
  background-size: 941px 910px;
}

.sprite-BilShares {
  background-position: -5px -75px;
  background-size: 941px 910px;
}

.sprite-BlockShares {
  background-position: -40px -75px;
  background-size: 941px 910px;
}

.sprite-Ixcoin {
  background-position: -75px -75px;
  background-size: 941px 910px;
}

.sprite-J1wuW41H {
  background-position: -110px -5px;
  background-size: 941px 910px;
}

.sprite-MONACOINtop {
  background-position: -110px -40px;
  background-size: 941px 910px;
}

.sprite-achain {
  background-position: -110px -75px;
  background-size: 941px 910px;
}

.sprite-ziftrcoin {
  background-position: -5px -110px;
  background-size: 941px 910px;
}

.sprite-adex {
  background-position: -40px -110px;
  background-size: 941px 910px;
}

.sprite-adtoken {
  background-position: -75px -110px;
  background-size: 941px 910px;
}

.sprite-adzcoin {
  background-position: -110px -110px;
  background-size: 941px 910px;
}

.sprite-aelf {
  background-position: -145px -5px;
  background-size: 941px 910px;
}

.sprite-aeon {
  background-position: -145px -40px;
  background-size: 941px 910px;
}

.sprite-aerome {
  background-position: -145px -75px;
  background-size: 941px 910px;
}

.sprite-aeternity {
  background-position: -145px -110px;
  background-size: 941px 910px;
}

.sprite-agorastokens {
  background-position: -5px -145px;
  background-size: 941px 910px;
}

.sprite-aiden {
  background-position: -40px -145px;
  background-size: 941px 910px;
}

.sprite-aidoskuneen {
  background-position: -75px -145px;
  background-size: 941px 910px;
}

.sprite-aion {
  background-position: -110px -145px;
  background-size: 941px 910px;
}

.sprite-airswap {
  background-position: -145px -145px;
  background-size: 941px 910px;
}

.sprite-ambercoin {
  background-position: -180px -5px;
  background-size: 941px 910px;
}

.sprite-anc_icon {
  background-position: -180px -40px;
  background-size: 941px 910px;
}

.sprite-anoncoin {
  background-position: -180px -75px;
  background-size: 941px 910px;
}

.sprite-antshares {
  background-position: -180px -110px;
  background-size: 941px 910px;
}

.sprite-apicoin {
  background-position: -180px -145px;
  background-size: 941px 910px;
}

.sprite-applebyte {
  background-position: -5px -180px;
  background-size: 941px 910px;
}

.sprite-applecoin {
  background-position: -40px -180px;
  background-size: 941px 910px;
}

.sprite-apx {
  background-position: -75px -180px;
  background-size: 941px 910px;
}

.sprite-aragon {
  background-position: -110px -180px;
  background-size: 941px 910px;
}

.sprite-archcoin {
  background-position: -145px -180px;
  background-size: 941px 910px;
}

.sprite-arcticcoin {
  background-position: -180px -180px;
  background-size: 941px 910px;
}

.sprite-ardor {
  background-position: -215px -5px;
  background-size: 941px 910px;
}

.sprite-ark {
  background-position: -215px -40px;
  background-size: 941px 910px;
}

.sprite-artbyte {
  background-position: -215px -75px;
  background-size: 941px 910px;
}

.sprite-asch {
  background-position: -215px -110px;
  background-size: 941px 910px;
}

.sprite-asiacoin {
  background-position: -215px -145px;
  background-size: 941px 910px;
}

.sprite-atmchain {
  background-position: -215px -180px;
  background-size: 941px 910px;
}

.sprite-atmos {
  background-position: -5px -215px;
  background-size: 941px 910px;
}

.sprite-atomic {
  background-position: -40px -215px;
  background-size: 941px 910px;
}

.sprite-aud {
  background-position: -75px -215px;
  background-size: 941px 910px;
}

.sprite-augur {
  background-position: -110px -215px;
  background-size: 941px 910px;
}

.sprite-auroracoin {
  background-position: -145px -215px;
  background-size: 941px 910px;
}

.sprite-bancor {
  background-position: -180px -215px;
  background-size: 941px 910px;
}

.sprite-bancornetwork {
  background-position: -215px -215px;
  background-size: 941px 910px;
}

.sprite-banx {
  background-position: -250px -5px;
  background-size: 941px 910px;
}

.sprite-basicattenti {
  background-position: -250px -40px;
  background-size: 941px 910px;
}

.sprite-basicattenti {
  background-position: -250px -75px;
  background-size: 941px 910px;
}

.sprite-bata {
  background-position: -250px -110px;
  background-size: 941px 910px;
}

.sprite-batcoin {
  background-position: -250px -145px;
  background-size: 941px 910px;
}

.sprite-bcap {
  background-position: -250px -180px;
  background-size: 941px 910px;
}

.sprite-belacoin {
  background-position: -250px -215px;
  background-size: 941px 910px;
}

.sprite-betacoin {
  background-position: -5px -250px;
  background-size: 941px 910px;
}

.sprite-binancecoin {
  background-position: -40px -250px;
  background-size: 941px 910px;
}

.sprite-bitGold {
  background-position: -75px -250px;
  background-size: 941px 910px;
}

.sprite-bitasean {
  background-position: -110px -250px;
  background-size: 941px 910px;
}

.sprite-bitbar {
  background-position: -145px -250px;
  background-size: 941px 910px;
}

.sprite-bitbay {
  background-position: -180px -250px;
  background-size: 941px 910px;
}

.sprite-bitbean {
  background-position: -215px -250px;
  background-size: 941px 910px;
}

.sprite-bitcny {
  background-position: -250px -250px;
  background-size: 941px 910px;
}

.sprite-bitcoin {
  background-position: -285px -5px;
  background-size: 941px 910px;
}

.sprite-bitcoincash {
  background-position: -285px -40px;
  background-size: 941px 910px;
}

.sprite-bitcoindark {
  background-position: -285px -75px;
  background-size: 941px 910px;
}

.sprite-bitcoingold {
  background-position: -285px -110px;
  background-size: 941px 910px;
}

.sprite-bitcoinplus {
  background-position: -285px -145px;
  background-size: 941px 910px;
}

.sprite-bitcointx {
  background-position: -285px -180px;
  background-size: 941px 910px;
}

.sprite-bitconnect {
  background-position: -285px -215px;
  background-size: 941px 910px;
}

.sprite-bitcrystals {
  background-position: -285px -250px;
  background-size: 941px 910px;
}

.sprite-bitdeal {
  background-position: -5px -285px;
  background-size: 941px 910px;
}

.sprite-bitgem {
  background-position: -40px -285px;
  background-size: 941px 910px;
}

.sprite-bitland {
  background-position: -75px -285px;
  background-size: 941px 910px;
}

.sprite-bitlux {
  background-position: -110px -285px;
  background-size: 941px 910px;
}

.sprite-bitmark {
  background-position: -145px -285px;
  background-size: 941px 910px;
}

.sprite-bitpark-coin {
  background-position: -180px -285px;
  background-size: 941px 910px;
}

.sprite-bitquence {
  background-position: -215px -285px;
  background-size: 941px 910px;
}

.sprite-bitshares pts {
  background-position: -250px -285px;
  background-size: 941px 910px;
}

.sprite-bitshares {
  background-position: -285px -285px;
  background-size: 941px 910px;
}

.sprite-bitsharespts {
  background-position: -320px -5px;
  background-size: 941px 910px;
}

.sprite-bitsharesx {
  background-position: -320px -40px;
  background-size: 941px 910px;
}

.sprite-bitstake {
  background-position: -320px -75px;
  background-size: 941px 910px;
}

.sprite-bitstar {
  background-position: -320px -110px;
  background-size: 941px 910px;
}

.sprite-bitswift {
  background-position: -320px -145px;
  background-size: 941px 910px;
}

.sprite-bitusd {
  background-position: -320px -180px;
  background-size: 941px 910px;
}

.sprite-blackcoin {
  background-position: -320px -215px;
  background-size: 941px 910px;
}

.sprite-blackmooncrypto {
  background-position: -320px -250px;
  background-size: 941px 910px;
}

.sprite-blitz {
  background-position: -320px -285px;
  background-size: 941px 910px;
}

.sprite-blitzcash {
  background-position: -5px -320px;
  background-size: 941px 910px;
}

.sprite-blocknet {
  background-position: -40px -320px;
  background-size: 941px 910px;
}

.sprite-blockpay {
  background-position: -75px -320px;
  background-size: 941px 910px;
}

.sprite-blockv {
  background-position: -110px -320px;
  background-size: 941px 910px;
}

.sprite-bluecoin {
  background-position: -145px -320px;
  background-size: 941px 910px;
}

.sprite-boolberry {
  background-position: -180px -320px;
  background-size: 941px 910px;
}

.sprite-boomcoin {
  background-position: -215px -320px;
  background-size: 941px 910px;
}

.sprite-boostcoin {
  background-position: -250px -320px;
  background-size: 941px 910px;
}

.sprite-bottlecaps {
  background-position: -285px -320px;
  background-size: 941px 910px;
}

.sprite-breakout {
  background-position: -320px -320px;
  background-size: 941px 910px;
}

.sprite-breakoutstake {
  background-position: -355px -5px;
  background-size: 941px 910px;
}

.sprite-brl {
  background-position: -355px -40px;
  background-size: 941px 910px;
}

.sprite-burst {
  background-position: -355px -75px;
  background-size: 941px 910px;
}

.sprite-byteball {
  background-position: -355px -110px;
  background-size: 941px 910px;
}

.sprite-byteballbytes {
  background-position: -355px -145px;
  background-size: 941px 910px;
}

.sprite-bytecent {
  background-position: -355px -180px;
  background-size: 941px 910px;
}

.sprite-bytecoin {
  background-position: -355px -215px;
  background-size: 941px 910px;
}

.sprite-bytom {
  background-position: -355px -250px;
  background-size: 941px 910px;
}

.sprite-cad {
  background-position: -355px -285px;
  background-size: 941px 910px;
}

.sprite-caix {
  background-position: -355px -320px;
  background-size: 941px 910px;
}

.sprite-camorracoin {
  background-position: -5px -355px;
  background-size: 941px 910px;
}

.sprite-cannabiscoin {
  background-position: -40px -355px;
  background-size: 941px 910px;
}

.sprite-cardano {
  background-position: -75px -355px;
  background-size: 941px 910px;
}

.sprite-carpediemcoin {
  background-position: -110px -355px;
  background-size: 941px 910px;
}

.sprite-casinocoin {
  background-position: -145px -355px;
  background-size: 941px 910px;
}

.sprite-catcoin {
  background-position: -180px -355px;
  background-size: 941px 910px;
}

.sprite-centra {
  background-position: -215px -355px;
  background-size: 941px 910px;
}

.sprite-chaincoin {
  background-position: -250px -355px;
  background-size: 941px 910px;
}

.sprite-chainlink {
  background-position: -285px -355px;
  background-size: 941px 910px;
}

.sprite-chancecoin {
  background-position: -320px -355px;
  background-size: 941px 910px;
}

.sprite-chf {
  background-position: -355px -355px;
  background-size: 941px 910px;
}

.sprite-chncoin {
  background-position: -390px -5px;
  background-size: 941px 910px;
}

.sprite-chococoin {
  background-position: -390px -40px;
  background-size: 941px 910px;
}

.sprite-chronobank {
  background-position: -390px -75px;
  background-size: 941px 910px;
}

.sprite-cinni {
  background-position: -390px -110px;
  background-size: 941px 910px;
}

.sprite-circuitsofv {
  background-position: -390px -145px;
  background-size: 941px 910px;
}

.sprite-civic {
  background-position: -390px -180px;
  background-size: 941px 910px;
}

.sprite-clams {
  background-position: -390px -215px;
  background-size: 941px 910px;
}

.sprite-cleanwatercoin {
  background-position: -390px -250px;
  background-size: 941px 910px;
}

.sprite-cloakcoin {
  background-position: -390px -285px;
  background-size: 941px 910px;
}

.sprite-cny {
  background-position: -390px -320px;
  background-size: 941px 910px;
}

.sprite-cobinhood {
  background-position: -390px -355px;
  background-size: 941px 910px;
}

.sprite-coeval {
  background-position: -5px -390px;
  background-size: 941px 910px;
}

.sprite-cofoundit {
  background-position: -40px -390px;
  background-size: 941px 910px;
}

.sprite-coin2.1 {
  background-position: -75px -390px;
  background-size: 941px 910px;
}

.sprite-coin2 {
  background-position: -110px -390px;
  background-size: 941px 910px;
}

.sprite-coindash {
  background-position: -145px -390px;
  background-size: 941px 910px;
}

.sprite-coino {
  background-position: -180px -390px;
  background-size: 941px 910px;
}

.sprite-coinomat {
  background-position: -215px -390px;
  background-size: 941px 910px;
}

.sprite-coinousd {
  background-position: -250px -390px;
  background-size: 941px 910px;
}

.sprite-communitycoin {
  background-position: -285px -390px;
  background-size: 941px 910px;
}

.sprite-counterparty {
  background-position: -320px -390px;
  background-size: 941px 910px;
}

.sprite-crave {
  background-position: -355px -390px;
  background-size: 941px 910px;
}

.sprite-creditbit {
  background-position: -390px -390px;
  background-size: 941px 910px;
}

.sprite-crevacoin {
  background-position: -425px -5px;
  background-size: 941px 910px;
}

.sprite-crown {
  background-position: -425px -40px;
  background-size: 941px 910px;
}

.sprite-cryptcoin {
  background-position: -425px -75px;
  background-size: 941px 910px;
}

.sprite-crypti {
  background-position: -425px -110px;
  background-size: 941px 910px;
}

.sprite-crypto .bullion {
  background-position: -425px -145px;
  background-size: 941px 910px;
}

.sprite-cryptobuk {
  background-position: -425px -180px;
  background-size: 941px 910px;
}

.sprite-cryptobullion {
  background-position: -425px -215px;
  background-size: 941px 910px;
}

.sprite-cryptocoins {
  background-position: -425px -250px;
  background-size: 941px 910px;
}

.sprite-cryptonite {
  background-position: -425px -285px;
  background-size: 941px 910px;
}

.sprite-curecoin {
  background-position: -425px -320px;
  background-size: 941px 910px;
}

.sprite-cvcoin {
  background-position: -425px -355px;
  background-size: 941px 910px;
}

.sprite-czacoin {
  background-position: -425px -390px;
  background-size: 941px 910px;
}

.sprite-czechcrowncoin {
  background-position: -5px -425px;
  background-size: 941px 910px;
}

.sprite-darcrus {
  background-position: -40px -425px;
  background-size: 941px 910px;
}

.sprite-darkcoin {
  background-position: -75px -425px;
  background-size: 941px 910px;
}

.sprite-darknote {
  background-position: -110px -425px;
  background-size: 941px 910px;
}

.sprite-dash {
  background-position: -145px -425px;
  background-size: 941px 910px;
}

.sprite-databits {
  background-position: -180px -425px;
  background-size: 941px 910px;
}

.sprite-daxxcoin {
  background-position: -215px -425px;
  background-size: 941px 910px;
}

.sprite-daytradercoin {
  background-position: -250px -425px;
  background-size: 941px 910px;
}

.sprite-debune {
  background-position: -285px -425px;
  background-size: 941px 910px;
}

.sprite-decent {
  background-position: -320px -425px;
  background-size: 941px 910px;
}

.sprite-decred {
  background-position: -355px -425px;
  background-size: 941px 910px;
}

.sprite-deepbrainchain {
  background-position: -390px -425px;
  background-size: 941px 910px;
}

.sprite-default {
  background-position: -425px -425px;
  background-size: 941px 910px;
}

.sprite-dent {
  background-position: -460px -5px;
  background-size: 941px 910px;
}

.sprite-dentacoin {
  background-position: -460px -40px;
  background-size: 941px 910px;
}

.sprite-deutsche.emark {
  background-position: -460px -75px;
  background-size: 941px 910px;
}

.sprite-deutscheemark {
  background-position: -460px -110px;
  background-size: 941px 910px;
}

.sprite-devcoin {
  background-position: -460px -145px;
  background-size: 941px 910px;
}

.sprite-diamond {
  background-position: -460px -180px;
  background-size: 941px 910px;
}

.sprite-digibyte {
  background-position: -460px -215px;
  background-size: 941px 910px;
}

.sprite-digibytelogo {
  background-position: -460px -250px;
  background-size: 941px 910px;
}

.sprite-digitalcoin {
  background-position: -460px -285px;
  background-size: 941px 910px;
}

.sprite-digitalnote {
  background-position: -460px -320px;
  background-size: 941px 910px;
}

.sprite-digixdao {
  background-position: -460px -355px;
  background-size: 941px 910px;
}

.sprite-dirac {
  background-position: -460px -390px;
  background-size: 941px 910px;
}

.sprite-district0x {
  background-position: -460px -425px;
  background-size: 941px 910px;
}

.sprite-dnotes {
  background-position: -5px -460px;
  background-size: 941px 910px;
}

.sprite-dnotes2 {
  background-position: -40px -460px;
  background-size: 941px 910px;
}

.sprite-dogecoin {
  background-position: -75px -460px;
  background-size: 941px 910px;
}

.sprite-dogecoindark {
  background-position: -110px -460px;
  background-size: 941px 910px;
}

.sprite-dogeparty {
  background-position: -145px -460px;
  background-size: 941px 910px;
}

.sprite-dogeparty {
  background-position: -180px -460px;
  background-size: 941px 910px;
}

.sprite-dollar {
  background-position: -215px -460px;
  background-size: 941px 910px;
}

.sprite-dopecoin {
  background-position: -250px -460px;
  background-size: 941px 910px;
}

.sprite-doubloons {
  background-position: -285px -460px;
  background-size: 941px 910px;
}

.sprite-dragonchain {
  background-position: -320px -460px;
  background-size: 941px 910px;
}

.sprite-dubaicoin {
  background-position: -355px -460px;
  background-size: 941px 910px;
}

.sprite-e-dinarcoin {
  background-position: -390px -460px;
  background-size: 941px 910px;
}

.sprite-earthcoin {
  background-position: -425px -460px;
  background-size: 941px 910px;
}

.sprite-eb3coin {
  background-position: -460px -460px;
  background-size: 941px 910px;
}

.sprite-eboost {
  background-position: -495px -5px;
  background-size: 941px 910px;
}

.sprite-ecccoin {
  background-position: -495px -40px;
  background-size: 941px 910px;
}

.sprite-ecobit {
  background-position: -495px -75px;
  background-size: 941px 910px;
}

.sprite-ecoin {
  background-position: -495px -110px;
  background-size: 941px 910px;
}

.sprite-ecurrencycoin {
  background-position: -495px -145px;
  background-size: 941px 910px;
}

.sprite-edgeless {
  background-position: -495px -180px;
  background-size: 941px 910px;
}

.sprite-edinarcoin {
  background-position: -495px -215px;
  background-size: 941px 910px;
}

.sprite-einsteinium {
  background-position: -495px -250px;
  background-size: 941px 910px;
}

.sprite-elastic {
  background-position: -495px -285px;
  background-size: 941px 910px;
}

.sprite-electroneum {
  background-position: -495px -320px;
  background-size: 941px 910px;
}

.sprite-electronic-gulden {
  background-position: -495px -355px;
  background-size: 941px 910px;
}

.sprite-electronicgulden {
  background-position: -495px -390px;
  background-size: 941px 910px;
}

.sprite-embers {
  background-position: -495px -425px;
  background-size: 941px 910px;
}

.sprite-emc {
  background-position: -495px -460px;
  background-size: 941px 910px;
}

.sprite-emercoin {
  background-position: -5px -495px;
  background-size: 941px 910px;
}

.sprite-encryptotel {
  background-position: -40px -495px;
  background-size: 941px 910px;
}

.sprite-energycoin {
  background-position: -75px -495px;
  background-size: 941px 910px;
}

.sprite-enigma {
  background-position: -110px -495px;
  background-size: 941px 910px;
}

.sprite-eos {
  background-position: -145px -495px;
  background-size: 941px 910px;
}

.sprite-eryllium {
  background-position: -180px -495px;
  background-size: 941px 910px;
}

.sprite-espers {
  background-position: -215px -495px;
  background-size: 941px 910px;
}

.sprite-ethercoin {
  background-position: -250px -495px;
  background-size: 941px 910px;
}

.sprite-ethereum {
  background-position: -285px -495px;
  background-size: 941px 910px;
}

.sprite-ethereumclassic {
  background-position: -320px -495px;
  background-size: 941px 910px;
}

.sprite-ethereummovi {
  background-position: -355px -495px;
  background-size: 941px 910px;
}

.sprite-etheroll {
  background-position: -390px -495px;
  background-size: 941px 910px;
}

.sprite-ethos {
  background-position: -425px -495px;
  background-size: 941px 910px;
}

.sprite-eur {
  background-position: -460px -495px;
  background-size: 941px 910px;
}

.sprite-everex {
  background-position: -495px -495px;
  background-size: 941px 910px;
}

.sprite-exclusivecoin {
  background-position: -530px -5px;
  background-size: 941px 910px;
}

.sprite-execoin {
  background-position: -530px -40px;
  background-size: 941px 910px;
}

.sprite-expanse {
  background-position: -530px -75px;
  background-size: 941px 910px;
}

.sprite-experiencepo {
  background-position: -530px -110px;
  background-size: 941px 910px;
}

.sprite-experiment-10k {
  background-position: -530px -145px;
  background-size: 941px 910px;
}

.sprite-experiment-10k {
  background-position: -530px -180px;
  background-size: 941px 910px;
}

.sprite-experiment10k {
  background-position: -530px -215px;
  background-size: 941px 910px;
}

.sprite-experment-10k {
  background-position: -530px -250px;
  background-size: 941px 910px;
}

.sprite-extreme 2 {
  background-position: -530px -285px;
  background-size: 941px 910px;
}

.sprite-extreme {
  background-position: -530px -320px;
  background-size: 941px 910px;
}

.sprite-extremecoin {
  background-position: -530px -355px;
  background-size: 941px 910px;
}

.sprite-factom {
  background-position: -530px -390px;
  background-size: 941px 910px;
}

.sprite-faircoin {
  background-position: -530px -425px;
  background-size: 941px 910px;
}

.sprite-fastcoin {
  background-position: -530px -460px;
  background-size: 941px 910px;
}

.sprite-favela_da_mare {
  background-position: -530px -495px;
  background-size: 941px 910px;
}

.sprite-feathercoin {
  background-position: -5px -530px;
  background-size: 941px 910px;
}

.sprite-fedoracoin {
  background-position: -40px -530px;
  background-size: 941px 910px;
}

.sprite-fibre {
  background-position: -75px -530px;
  background-size: 941px 910px;
}

.sprite-fimkrypto {
  background-position: -110px -530px;
  background-size: 941px 910px;
}

.sprite-firstblood {
  background-position: -145px -530px;
  background-size: 941px 910px;
}

.sprite-firstbloodprelaunch {
  background-position: -180px -530px;
  background-size: 941px 910px;
}

.sprite-firstcoin {
  background-position: -215px -530px;
  background-size: 941px 910px;
}

.sprite-flappycoin {
  background-position: -250px -530px;
  background-size: 941px 910px;
}

.sprite-florincoin {
  background-position: -285px -530px;
  background-size: 941px 910px;
}

.sprite-fluttercoin {
  background-position: -320px -530px;
  background-size: 941px 910px;
}

.sprite-foldingcoin {
  background-position: -355px -530px;
  background-size: 941px 910px;
}

.sprite-freemarket {
  background-position: -390px -530px;
  background-size: 941px 910px;
}

.sprite-freicoin {
  background-position: -425px -530px;
  background-size: 941px 910px;
}

.sprite-freshcoin {
  background-position: -460px -530px;
  background-size: 941px 910px;
}

.sprite-fuelcoin {
  background-position: -495px -530px;
  background-size: 941px 910px;
}

.sprite-funfair {
  background-position: -530px -530px;
  background-size: 941px 910px;
}

.sprite-gambit {
  background-position: -565px -5px;
  background-size: 941px 910px;
}

.sprite-gamecredits {
  background-position: -565px -40px;
  background-size: 941px 910px;
}

.sprite-zetacoin {
  background-position: -565px -75px;
  background-size: 941px 910px;
}

.sprite-ganjacoin {
  background-position: -565px -110px;
  background-size: 941px 910px;
}

.sprite-gas {
  background-position: -565px -145px;
  background-size: 941px 910px;
}

.sprite-gbp {
  background-position: -565px -180px;
  background-size: 941px 910px;
}

.sprite-geocoin {
  background-position: -565px -215px;
  background-size: 941px 910px;
}

.sprite-getgems {
  background-position: -565px -250px;
  background-size: 941px 910px;
}

.sprite-givecoin {
  background-position: -565px -285px;
  background-size: 941px 910px;
}

.sprite-globalcurren {
  background-position: -565px -320px;
  background-size: 941px 910px;
}

.sprite-glyph {
  background-position: -565px -355px;
  background-size: 941px 910px;
}

.sprite-gnosis {
  background-position: -565px -390px;
  background-size: 941px 910px;
}

.sprite-goldcoin {
  background-position: -565px -425px;
  background-size: 941px 910px;
}

.sprite-golem {
  background-position: -565px -460px;
  background-size: 941px 910px;
}

.sprite-golos {
  background-position: -565px -495px;
  background-size: 941px 910px;
}

.sprite-grandcoin {
  background-position: -565px -530px;
  background-size: 941px 910px;
}

.sprite-greenbacks {
  background-position: -5px -565px;
  background-size: 941px 910px;
}

.sprite-gridcoin {
  background-position: -40px -565px;
  background-size: 941px 910px;
}

.sprite-groestlcoin {
  background-position: -75px -565px;
  background-size: 941px 910px;
}

.sprite-gulden {
  background-position: -110px -565px;
  background-size: 941px 910px;
}

.sprite-guldencoin {
  background-position: -145px -565px;
  background-size: 941px 910px;
}

.sprite-guldencoin {
  background-position: -180px -565px;
  background-size: 941px 910px;
}

.sprite-gxshares {
  background-position: -215px -565px;
  background-size: 941px 910px;
}

.sprite-hackergold {
  background-position: -250px -565px;
  background-size: 941px 910px;
}

.sprite-happycoin {
  background-position: -285px -565px;
  background-size: 941px 910px;
}

.sprite-heat {
  background-position: -320px -565px;
  background-size: 941px 910px;
}

.sprite-hellascoin {
  background-position: -355px -565px;
  background-size: 941px 910px;
}

.sprite-hkd {
  background-position: -390px -565px;
  background-size: 941px 910px;
}

.sprite-hobonickels {
  background-position: -425px -565px;
  background-size: 941px 910px;
}

.sprite-horizon {
  background-position: -460px -565px;
  background-size: 941px 910px;
}

.sprite-hshare {
  background-position: -495px -565px;
  background-size: 941px 910px;
}

.sprite-htmlcoin {
  background-position: -530px -565px;
  background-size: 941px 910px;
}

.sprite-humaniq {
  background-position: -565px -565px;
  background-size: 941px 910px;
}

.sprite-huntercoin {
  background-position: -600px -5px;
  background-size: 941px 910px;
}

.sprite-hyper {
  background-position: -600px -40px;
  background-size: 941px 910px;
}

.sprite-hyperstake {
  background-position: -600px -75px;
  background-size: 941px 910px;
}

.sprite-i0coin {
  background-position: -600px -110px;
  background-size: 941px 910px;
}

.sprite-icash {
  background-position: -600px -145px;
  background-size: 941px 910px;
}

.sprite-ico {
  background-position: -600px -180px;
  background-size: 941px 910px;
}

.sprite-icoin {
  background-position: -600px -215px;
  background-size: 941px 910px;
}

.sprite-icon {
  background-position: -600px -250px;
  background-size: 941px 910px;
}

.sprite-iconomi {
  background-position: -600px -285px;
  background-size: 941px 910px;
}

.sprite-icoopenledger {
  background-position: -600px -320px;
  background-size: 941px 910px;
}

.sprite-iexec {
  background-position: -600px -355px;
  background-size: 941px 910px;
}

.sprite-iexecrlc {
  background-position: -600px -390px;
  background-size: 941px 910px;
}

.sprite-ignis {
  background-position: -600px -425px;
  background-size: 941px 910px;
}

.sprite-incakoin {
  background-position: -600px -460px;
  background-size: 941px 910px;
}

.sprite-incent {
  background-position: -600px -495px;
  background-size: 941px 910px;
}

.sprite-infinitecoin {
  background-position: -600px -530px;
  background-size: 941px 910px;
}

.sprite-influxcoin {
  background-position: -600px -565px;
  background-size: 941px 910px;
}

.sprite-inr {
  background-position: -5px -600px;
  background-size: 941px 910px;
}

.sprite-insanecoin {
  background-position: -40px -600px;
  background-size: 941px 910px;
}

.sprite-instantdex {
  background-position: -75px -600px;
  background-size: 941px 910px;
}

.sprite-insurex {
  background-position: -110px -600px;
  background-size: 941px 910px;
}

.sprite-iocoin {
  background-position: -145px -600px;
  background-size: 941px 910px;
}

.sprite-iocoin {
  background-position: -180px -600px;
  background-size: 941px 910px;
}

.sprite-ion {
  background-position: -215px -600px;
  background-size: 941px 910px;
}

.sprite-iota {
  background-position: -250px -600px;
  background-size: 941px 910px;
}

.sprite-isracoin {
  background-position: -285px -600px;
  background-size: 941px 910px;
}

.sprite-jackpot {
  background-position: -320px -600px;
  background-size: 941px 910px;
}

.sprite-jackpotcoin {
  background-position: -355px -600px;
  background-size: 941px 910px;
}

.sprite-jay {
  background-position: -390px -600px;
  background-size: 941px 910px;
}

.sprite-jinn {
  background-position: -425px -600px;
  background-size: 941px 910px;
}

.sprite-jl777hodl {
  background-position: -460px -600px;
  background-size: 941px 910px;
}

.sprite-jpy {
  background-position: -495px -600px;
  background-size: 941px 910px;
}

.sprite-jumbucks {
  background-position: -530px -600px;
  background-size: 941px 910px;
}

.sprite-karma {
  background-position: -565px -600px;
  background-size: 941px 910px;
}

.sprite-kin {
  background-position: -600px -600px;
  background-size: 941px 910px;
}

.sprite-klondikecoin {
  background-position: -635px -5px;
  background-size: 941px 910px;
}

.sprite-kolschcoin {
  background-position: -635px -40px;
  background-size: 941px 910px;
}

.sprite-komodo {
  background-position: -635px -75px;
  background-size: 941px 910px;
}

.sprite-krugercoin {
  background-position: -635px -110px;
  background-size: 941px 910px;
}

.sprite-krypton {
  background-position: -635px -145px;
  background-size: 941px 910px;
}

.sprite-kucoinshares {
  background-position: -635px -180px;
  background-size: 941px 910px;
}

.sprite-kybernetwork {
  background-position: -635px -215px;
  background-size: 941px 910px;
}

.sprite-pinkcoin {
  width: 21px;
  height: 25px;
  background-position: -915px -5px;
  background-size: 941px 910px;
}

.sprite-lbrycredits {
  background-position: -635px -285px;
  background-size: 941px 910px;
}

.sprite-leocoin {
  background-position: -635px -320px;
  background-size: 941px 910px;
}

.sprite-librexcoin {
  background-position: -635px -355px;
  background-size: 941px 910px;
}

.sprite-limecoinx {
  background-position: -635px -390px;
  background-size: 941px 910px;
}

.sprite-liquid {
  background-position: -635px -425px;
  background-size: 941px 910px;
}

.sprite-lisk {
  background-position: -635px -460px;
  background-size: 941px 910px;
}

.sprite-litecoin {
  background-position: -635px -495px;
  background-size: 941px 910px;
}

.sprite-lomocoin {
  background-position: -635px -530px;
  background-size: 941px 910px;
}

.sprite-loopring {
  background-position: -635px -565px;
  background-size: 941px 910px;
}

.sprite-lottoshares {
  background-position: -635px -600px;
  background-size: 941px 910px;
}

.sprite-ltbcoin {
  background-position: -5px -635px;
  background-size: 941px 910px;
}

.sprite-luckchain {
  background-position: -40px -635px;
  background-size: 941px 910px;
}

.sprite-luckycoin {
  background-position: -75px -635px;
  background-size: 941px 910px;
}

.sprite-lunyr {
  background-position: -110px -635px;
  background-size: 941px 910px;
}

.sprite-lux {
  background-position: -145px -635px;
  background-size: 941px 910px;
}

.sprite-luxcoin {
  background-position: -180px -635px;
  background-size: 941px 910px;
}

.sprite-lykke {
  background-position: -215px -635px;
  background-size: 941px 910px;
}

.sprite-magi {
  background-position: -250px -635px;
  background-size: 941px 910px;
}

.sprite-magiccoin {
  background-position: -285px -635px;
  background-size: 941px 910px;
}

.sprite-maidsafecoin {
  background-position: -320px -635px;
  background-size: 941px 910px;
}

.sprite-maryjane {
  background-position: -355px -635px;
  background-size: 941px 910px;
}

.sprite-mastercoin {
  background-position: -390px -635px;
  background-size: 941px 910px;
}

.sprite-mastercoin {
  background-position: -425px -635px;
  background-size: 941px 910px;
}

.sprite-mastercoinomni {
  background-position: -460px -635px;
  background-size: 941px 910px;
}

.sprite-matchpool {
  background-position: -495px -635px;
  background-size: 941px 910px;
}

.sprite-maxcoin {
  background-position: -530px -635px;
  background-size: 941px 910px;
}

.sprite-mazacoin {
  background-position: -565px -635px;
  background-size: 941px 910px;
}

.sprite-mcap {
  background-position: -600px -635px;
  background-size: 941px 910px;
}

.sprite-medibloc {
  background-position: -635px -635px;
  background-size: 941px 910px;
}

.sprite-megacoin {
  background-position: -670px -5px;
  background-size: 941px 910px;
}

.sprite-melon {
  background-position: -670px -40px;
  background-size: 941px 910px;
}

.sprite-memorycoin {
  background-position: -670px -75px;
  background-size: 941px 910px;
}

.sprite-mergecoin {
  background-position: -670px -110px;
  background-size: 941px 910px;
}

.sprite-metal {
  background-position: -670px -145px;
  background-size: 941px 910px;
}

.sprite-metaverseent {
  background-position: -670px -180px;
  background-size: 941px 910px;
}

.sprite-metaverseetp {
  background-position: -670px -215px;
  background-size: 941px 910px;
}

.sprite-mgw {
  background-position: -670px -250px;
  background-size: 941px 910px;
}

.sprite-midas-rezerv {
  background-position: -670px -285px;
  background-size: 941px 910px;
}

.sprite-midas.rezerv {
  background-position: -670px -320px;
  background-size: 941px 910px;
}

.sprite-mincoin {
  background-position: -670px -355px;
  background-size: 941px 910px;
}

.sprite-mintcoin {
  background-position: -670px -390px;
  background-size: 941px 910px;
}

.sprite-mintcoin {
  background-position: -670px -425px;
  background-size: 941px 910px;
}

.sprite-missing {
  background-position: -670px -460px;
  background-size: 941px 910px;
}

.sprite-mmnxt {
  background-position: -670px -495px;
  background-size: 941px 910px;
}

.sprite-mobilego {
  background-position: -670px -530px;
  background-size: 941px 910px;
}

.sprite-monaco {
  background-position: -670px -565px;
  background-size: 941px 910px;
}

.sprite-monacoin {
  background-position: -670px -600px;
  background-size: 941px 910px;
}

.sprite-monero {
  background-position: -670px -635px;
  background-size: 941px 910px;
}

.sprite-monetaryunit {
  background-position: -5px -670px;
  background-size: 941px 910px;
}

.sprite-monetha {
  background-position: -40px -670px;
  background-size: 941px 910px;
}

.sprite-mooncoin {
  background-position: -75px -670px;
  background-size: 941px 910px;
}

.sprite-mothership {
  background-position: -110px -670px;
  background-size: 941px 910px;
}

.sprite-muse {
  background-position: -145px -670px;
  background-size: 941px 910px;
}

.sprite-musicoin {
  background-position: -180px -670px;
  background-size: 941px 910px;
}

.sprite-mxn {
  background-position: -215px -670px;
  background-size: 941px 910px;
}

.sprite-myriad {
  background-position: -250px -670px;
  background-size: 941px 910px;
}

.sprite-myriadcoin {
  background-position: -285px -670px;
  background-size: 941px 910px;
}

.sprite-mysterium {
  background-position: -320px -670px;
  background-size: 941px 910px;
}

.sprite-namecoin {
  background-position: -355px -670px;
  background-size: 941px 910px;
}

.sprite-nas {
  background-position: -390px -670px;
  background-size: 941px 910px;
}

.sprite-nautiluscoin {
  background-position: -425px -670px;
  background-size: 941px 910px;
}

.sprite-navajo {
  background-position: -460px -670px;
  background-size: 941px 910px;
}

.sprite-navajocoin {
  background-position: -495px -670px;
  background-size: 941px 910px;
}

.sprite-navcoin {
  background-position: -530px -670px;
  background-size: 941px 910px;
}

.sprite-neblio {
  background-position: -565px -670px;
  background-size: 941px 910px;
}

.sprite-nem {
  background-position: -600px -670px;
  background-size: 941px 910px;
}

.sprite-neo {
  background-position: -635px -670px;
  background-size: 941px 910px;
}

.sprite-neodice {
  background-position: -670px -670px;
  background-size: 941px 910px;
}

.sprite-neoscoin {
  background-position: -705px -5px;
  background-size: 941px 910px;
}

.sprite-netcoin {
  background-position: -705px -40px;
  background-size: 941px 910px;
}

.sprite-newyorkcoin {
  background-position: -705px -75px;
  background-size: 941px 910px;
}

.sprite-nexium {
  background-position: -705px -110px;
  background-size: 941px 910px;
}

.sprite-nexus .economy {
  background-position: -705px -145px;
  background-size: 941px 910px;
}

.sprite-nexus {
  background-position: -705px -180px;
  background-size: 941px 910px;
}

.sprite-nexuseconomy {
  background-position: -705px -215px;
  background-size: 941px 910px;
}

.sprite-nimiq {
  background-position: -705px -250px;
  background-size: 941px 910px;
}

.sprite-noblecoin {
  background-position: -705px -285px;
  background-size: 941px 910px;
}

.sprite-node {
  background-position: -705px -320px;
  background-size: 941px 910px;
}

.sprite-noirshares {
  background-position: -705px -355px;
  background-size: 941px 910px;
}

.sprite-nolimitcoin {
  background-position: -705px -390px;
  background-size: 941px 910px;
}

.sprite-novacoin {
  background-position: -705px -425px;
  background-size: 941px 910px;
}

.sprite-nubits {
  background-position: -705px -460px;
  background-size: 941px 910px;
}

.sprite-numeraire {
  background-position: -705px -495px;
  background-size: 941px 910px;
}

.sprite-nushares {
  background-position: -705px -530px;
  background-size: 941px 910px;
}

.sprite-nvo {
  background-position: -705px -565px;
  background-size: 941px 910px;
}

.sprite-nxt {
  background-position: -705px -600px;
  background-size: 941px 910px;
}

.sprite-nxtprivacy {
  background-position: -705px -635px;
  background-size: 941px 910px;
}

.sprite-nxttycoin {
  background-position: -705px -670px;
  background-size: 941px 910px;
}

.sprite-nxtventure {
  background-position: -5px -705px;
  background-size: 941px 910px;
}

.sprite-obits {
  background-position: -40px -705px;
  background-size: 941px 910px;
}

.sprite-octocoin {
  background-position: -75px -705px;
  background-size: 941px 910px;
}

.sprite-okcash {
  background-position: -110px -705px;
  background-size: 941px 910px;
}

.sprite-omisego {
  background-position: -145px -705px;
  background-size: 941px 910px;
}

.sprite-omni {
  background-position: -180px -705px;
  background-size: 941px 910px;
}

.sprite-omnicoin {
  background-position: -215px -705px;
  background-size: 941px 910px;
}

.sprite-opal {
  background-position: -250px -705px;
  background-size: 941px 910px;
}

.sprite-orbitcoin {
  background-position: -285px -705px;
  background-size: 941px 910px;
}

.sprite-pacoin {
  background-position: -320px -705px;
  background-size: 941px 910px;
}

.sprite-pandacoin {
  background-position: -355px -705px;
  background-size: 941px 910px;
}

.sprite-pandacoin_coin_transparent {
  background-position: -390px -705px;
  background-size: 941px 910px;
}

.sprite-zennies {
  background-position: -425px -705px;
  background-size: 941px 910px;
}

.sprite-pangeapoker {
  background-position: -460px -705px;
  background-size: 941px 910px;
}

.sprite-pangeapokercoin {
  background-position: -495px -705px;
  background-size: 941px 910px;
}

.sprite-particl {
  background-position: -530px -705px;
  background-size: 941px 910px;
}

.sprite-particle {
  background-position: -565px -705px;
  background-size: 941px 910px;
}

.sprite-particle {
  background-position: -600px -705px;
  background-size: 941px 910px;
}

.sprite-pascalcoin {
  background-position: -635px -705px;
  background-size: 941px 910px;
}

.sprite-patientory {
  background-position: -670px -705px;
  background-size: 941px 910px;
}

.sprite-paycoin {
  background-position: -705px -705px;
  background-size: 941px 910px;
}

.sprite-peercoin {
  background-position: -740px -5px;
  background-size: 941px 910px;
}

.sprite-peerplays {
  background-position: -740px -40px;
  background-size: 941px 910px;
}

.sprite-pepecash {
  background-position: -740px -75px;
  background-size: 941px 910px;
}

.sprite-phoenixcoin {
  background-position: -740px -110px;
  background-size: 941px 910px;
}

.sprite-php {
  background-position: -740px -145px;
  background-size: 941px 910px;
}

.sprite-piggycoin {
  background-position: -740px -180px;
  background-size: 941px 910px;
}

.sprite-pillar {
  background-position: -740px -215px;
  background-size: 941px 910px;
}

.sprite-zencash {
  background-position: -740px -250px;
  background-size: 941px 910px;
}

.sprite-pivx {
  background-position: -740px -285px;
  background-size: 941px 910px;
}

.sprite-pln {
  background-position: -740px -320px;
  background-size: 941px 910px;
}

.sprite-pluton {
  background-position: -740px -355px;
  background-size: 941px 910px;
}

.sprite-poet {
  background-position: -740px -390px;
  background-size: 941px 910px;
}

.sprite-polybius {
  background-position: -740px -425px;
  background-size: 941px 910px;
}

.sprite-popularcoin {
  background-position: -740px -460px;
  background-size: 941px 910px;
}

.sprite-populous {
  background-position: -740px -495px;
  background-size: 941px 910px;
}

.sprite-positron {
  background-position: -740px -530px;
  background-size: 941px 910px;
}

.sprite-postcoin {
  background-position: -740px -565px;
  background-size: 941px 910px;
}

.sprite-potcoin {
  background-position: -740px -600px;
  background-size: 941px 910px;
}

.sprite-potcoin {
  background-position: -740px -635px;
  background-size: 941px 910px;
}

.sprite-potcoinlogo {
  background-position: -740px -670px;
  background-size: 941px 910px;
}

.sprite-powerledger {
  background-position: -740px -705px;
  background-size: 941px 910px;
}

.sprite-primecoin {
  background-position: -5px -740px;
  background-size: 941px 910px;
}

.sprite-privatebet {
  background-position: -40px -740px;
  background-size: 941px 910px;
}

.sprite-prizm {
  background-position: -75px -740px;
  background-size: 941px 910px;
}

.sprite-projectdecorum {
  background-position: -110px -740px;
  background-size: 941px 910px;
}

.sprite-pseudocash {
  background-position: -145px -740px;
  background-size: 941px 910px;
}

.sprite-pura {
  background-position: -180px -740px;
  background-size: 941px 910px;
}

.sprite-putincoin {
  background-position: -215px -740px;
  background-size: 941px 910px;
}

.sprite-qash {
  background-position: -250px -740px;
  background-size: 941px 910px;
}

.sprite-qibuck {
  background-position: -285px -740px;
  background-size: 941px 910px;
}

.sprite-qora {
  background-position: -320px -740px;
  background-size: 941px 910px;
}

.sprite-qtum {
  background-position: -355px -740px;
  background-size: 941px 910px;
}

.sprite-quantstamp {
  background-position: -390px -740px;
  background-size: 941px 910px;
}

.sprite-quantum {
  background-position: -425px -740px;
  background-size: 941px 910px;
}

.sprite-quantumresis {
  background-position: -460px -740px;
  background-size: 941px 910px;
}

.sprite-quantumresis {
  background-position: -495px -740px;
  background-size: 941px 910px;
}

.sprite-quark {
  background-position: -530px -740px;
  background-size: 941px 910px;
}

.sprite-quatloocoin {
  background-position: -565px -740px;
  background-size: 941px 910px;
}

.sprite-qwark {
  background-position: -600px -740px;
  background-size: 941px 910px;
}

.sprite-r-270x250 {
  background-position: -635px -740px;
  background-size: 941px 910px;
}

.sprite-radium {
  background-position: -670px -740px;
  background-size: 941px 910px;
}

.sprite-raiblocks {
  background-position: -705px -740px;
  background-size: 941px 910px;
}

.sprite-raidennetwor {
  background-position: -740px -740px;
  background-size: 941px 910px;
}

.sprite-razor {
  background-position: -775px -5px;
  background-size: 941px 910px;
}

.sprite-rchain {
  background-position: -775px -40px;
  background-size: 941px 910px;
}

.sprite-redcoin {
  background-position: -775px -75px;
  background-size: 941px 910px;
}

.sprite-reddcoin {
  background-position: -775px -110px;
  background-size: 941px 910px;
}

.sprite-regalcoin {
  background-position: -775px -145px;
  background-size: 941px 910px;
}

.sprite-requestnetwork {
  background-position: -775px -180px;
  background-size: 941px 910px;
}

.sprite-rialto {
  background-position: -775px -215px;
  background-size: 941px 910px;
}

.sprite-ribbitrewards {
  background-position: -775px -250px;
  background-size: 941px 910px;
}

.sprite-riecoin {
  background-position: -775px -285px;
  background-size: 941px 910px;
}

.sprite-rimbit {
  background-position: -775px -320px;
  background-size: 941px 910px;
}

.sprite-ripiocredit {
  background-position: -775px -355px;
  background-size: 941px 910px;
}

.sprite-ripiocredit {
  background-position: -775px -390px;
  background-size: 941px 910px;
}

.sprite-ripple {
  background-position: -775px -425px;
  background-size: 941px 910px;
}

.sprite-rise {
  background-position: -775px -460px;
  background-size: 941px 910px;
}

.sprite-rlc {
  background-position: -775px -495px;
  background-size: 941px 910px;
}

.sprite-roulettetoken {
  background-position: -775px -530px;
  background-size: 941px 910px;
}

.sprite-round {
  background-position: -775px -565px;
  background-size: 941px 910px;
}

.sprite-roxcoin {
  background-position: -775px -600px;
  background-size: 941px 910px;
}

.sprite-rub {
  background-position: -775px -635px;
  background-size: 941px 910px;
}

.sprite-rubycoin {
  background-position: -775px -670px;
  background-size: 941px 910px;
}

.sprite-safeexchang {
  background-position: -775px -705px;
  background-size: 941px 910px;
}

.sprite-safeexchang {
  background-position: -775px -740px;
  background-size: 941px 910px;
}

.sprite-safeexchange {
  background-position: -5px -775px;
  background-size: 941px 910px;
}

.sprite-safeexchangecoin {
  background-position: -40px -775px;
  background-size: 941px 910px;
}

.sprite-saffroncoin {
  background-position: -75px -775px;
  background-size: 941px 910px;
}

.sprite-salt {
  background-position: -110px -775px;
  background-size: 941px 910px;
}

.sprite-salus {
  background-position: -145px -775px;
  background-size: 941px 910px;
}

.sprite-santimentnet {
  background-position: -180px -775px;
  background-size: 941px 910px;
}

.sprite-sapience .aifx {
  background-position: -215px -775px;
  background-size: 941px 910px;
}

.sprite-saturn2coin {
  background-position: -250px -775px;
  background-size: 941px 910px;
}

.sprite-scorecoin {
  background-position: -285px -775px;
  background-size: 941px 910px;
}

.sprite-scotcoin {
  background-position: -320px -775px;
  background-size: 941px 910px;
}

.sprite-securecoin {
  background-position: -355px -775px;
  background-size: 941px 910px;
}

.sprite-sek {
  background-position: -390px -775px;
  background-size: 941px 910px;
}

.sprite-sembro.token {
  background-position: -425px -775px;
  background-size: 941px 910px;
}

.sprite-sequence {
  background-position: -460px -775px;
  background-size: 941px 910px;
}

.sprite-sexcoin {
  background-position: -495px -775px;
  background-size: 941px 910px;
}

.sprite-sgd {
  background-position: -530px -775px;
  background-size: 941px 910px;
}

.sprite-shadowcash {
  background-position: -565px -775px;
  background-size: 941px 910px;
}

.sprite-shadowcash {
  background-position: -600px -775px;
  background-size: 941px 910px;
}

.sprite-zeitcoin {
  background-position: -635px -775px;
  background-size: 941px 910px;
}

.sprite-shadowcoin {
  background-position: -670px -775px;
  background-size: 941px 910px;
}

.sprite-sharkfund0 {
  background-position: -705px -775px;
  background-size: 941px 910px;
}

.sprite-shift {
  background-position: -740px -775px;
  background-size: 941px 910px;
}

.sprite-siacoin {
  background-position: -775px -775px;
  background-size: 941px 910px;
}

.sprite-sibcoin {
  background-position: -810px -5px;
  background-size: 941px 910px;
}

.sprite-silkcoin {
  background-position: -810px -40px;
  background-size: 941px 910px;
}

.sprite-singulardtv {
  background-position: -810px -75px;
  background-size: 941px 910px;
}

.sprite-sixeleven {
  background-position: -810px -110px;
  background-size: 941px 910px;
}

.sprite-skycoin {
  background-position: -810px -145px;
  background-size: 941px 910px;
}

.sprite-skynet {
  background-position: -810px -180px;
  background-size: 941px 910px;
}

.sprite-slimcoin {
  background-position: -810px -215px;
  background-size: 941px 910px;
}

.sprite-smartcash {
  background-position: -810px -250px;
  background-size: 941px 910px;
}

.sprite-smileycoin {
  background-position: -810px -285px;
  background-size: 941px 910px;
}

.sprite-snowballs {
  background-position: -810px -320px;
  background-size: 941px 910px;
}

.sprite-soarcoin {
  background-position: -810px -355px;
  background-size: 941px 910px;
}

.sprite-solarcoin {
  background-position: -810px -390px;
  background-size: 941px 910px;
}

.sprite-solarfarm {
  background-position: -810px -425px;
  background-size: 941px 910px;
}

.sprite-solorfarm {
  background-position: -810px -460px;
  background-size: 941px 910px;
}

.sprite-sonm {
  background-position: -810px -495px;
  background-size: 941px 910px;
}

.sprite-spectrecoin {
  background-position: -810px -530px;
  background-size: 941px 910px;
}

.sprite-sphere {
  background-position: -810px -565px;
  background-size: 941px 910px;
}

.sprite-spreadcoin {
  background-position: -810px -600px;
  background-size: 941px 910px;
}

.sprite-sprouts {
  background-position: -810px -635px;
  background-size: 941px 910px;
}

.sprite-starta {
  background-position: -810px -670px;
  background-size: 941px 910px;
}

.sprite-startcoin {
  background-position: -810px -705px;
  background-size: 941px 910px;
}

.sprite-status {
  background-position: -810px -740px;
  background-size: 941px 910px;
}

.sprite-stealthcoin {
  background-position: -810px -775px;
  background-size: 941px 910px;
}

.sprite-steem {
  background-position: -5px -810px;
  background-size: 941px 910px;
}

.sprite-steemdollars {
  background-position: -40px -810px;
  background-size: 941px 910px;
}

.sprite-stellar {
  background-position: -75px -810px;
  background-size: 941px 910px;
}

.sprite-stellarlumens {
  background-position: -110px -810px;
  background-size: 941px 910px;
}

.sprite-sterlingcoin {
  background-position: -145px -810px;
  background-size: 941px 910px;
}

.sprite-storj {
  background-position: -180px -810px;
  background-size: 941px 910px;
}

.sprite-storjcoin x {
  background-position: -215px -810px;
  background-size: 941px 910px;
}

.sprite-storjcoin {
  background-position: -250px -810px;
  background-size: 941px 910px;
}

.sprite-storjcoinx {
  background-position: -285px -810px;
  background-size: 941px 910px;
}

.sprite-storm {
  background-position: -320px -810px;
  background-size: 941px 910px;
}

.sprite-stox {
  background-position: -355px -810px;
  background-size: 941px 910px;
}

.sprite-stratis {
  background-position: -390px -810px;
  background-size: 941px 910px;
}

.sprite-substratum {
  background-position: -425px -810px;
  background-size: 941px 910px;
}

.sprite-supercoin {
  background-position: -460px -810px;
  background-size: 941px 910px;
}

.sprite-supernet {
  background-position: -495px -810px;
  background-size: 941px 910px;
}

.sprite-swarm {
  background-position: -530px -810px;
  background-size: 941px 910px;
}

.sprite-swarmcity {
  background-position: -565px -810px;
  background-size: 941px 910px;
}

.sprite-sync {
  background-position: -600px -810px;
  background-size: 941px 910px;
}

.sprite-synccoin {
  background-position: -635px -810px;
  background-size: 941px 910px;
}

.sprite-syndicate {
  background-position: -670px -810px;
  background-size: 941px 910px;
}

.sprite-synereo {
  background-position: -705px -810px;
  background-size: 941px 910px;
}

.sprite-synergy {
  background-position: -740px -810px;
  background-size: 941px 910px;
}

.sprite-syscoin {
  background-position: -775px -810px;
  background-size: 941px 910px;
}

.sprite-taas {
  background-position: -810px -810px;
  background-size: 941px 910px;
}

.sprite-tekcoin {
  background-position: -845px -5px;
  background-size: 941px 910px;
}

.sprite-tenx {
  background-position: -845px -40px;
  background-size: 941px 910px;
}

.sprite-terracoin {
  background-position: -845px -75px;
  background-size: 941px 910px;
}

.sprite-teslacoin {
  background-position: -845px -110px;
  background-size: 941px 910px;
}

.sprite-tether {
  background-position: -845px -145px;
  background-size: 941px 910px;
}

.sprite-thechampcoin {
  background-position: -845px -180px;
  background-size: 941px 910px;
}

.sprite-thedao {
  background-position: -845px -215px;
  background-size: 941px 910px;
}

.sprite-tickets {
  background-position: -845px -250px;
  background-size: 941px 910px;
}

.sprite-tilecoin 2 {
  background-position: -845px -285px;
  background-size: 941px 910px;
}

.sprite-tilecoin {
  background-position: -845px -320px;
  background-size: 941px 910px;
}

.sprite-timenewbank {
  background-position: -845px -355px;
  background-size: 941px 910px;
}

.sprite-titcoin {
  background-position: -845px -390px;
  background-size: 941px 910px;
}

.sprite-tixcoin {
  background-position: -845px -425px;
  background-size: 941px 910px;
}

.sprite-tokencard {
  background-position: -845px -460px;
  background-size: 941px 910px;
}

.sprite-tokes {
  background-position: -845px -495px;
  background-size: 941px 910px;
}

.sprite-tradebots {
  background-position: -845px -530px;
  background-size: 941px 910px;
}

.sprite-triggers {
  background-position: -845px -565px;
  background-size: 941px 910px;
}

.sprite-tron {
  background-position: -845px -600px;
  background-size: 941px 910px;
}

.sprite-trumpcoin {
  background-position: -845px -635px;
  background-size: 941px 910px;
}

.sprite-trustplus {
  background-position: -845px -670px;
  background-size: 941px 910px;
}

.sprite-ubiq {
  background-position: -845px -705px;
  background-size: 941px 910px;
}

.sprite-ucicoin {
  background-position: -845px -740px;
  background-size: 941px 910px;
}

.sprite-ufocoin {
  background-position: -845px -775px;
  background-size: 941px 910px;
}

.sprite-ultracoin {
  background-position: -845px -810px;
  background-size: 941px 910px;
}

.sprite-unbreakablecoin {
  background-position: -5px -845px;
  background-size: 941px 910px;
}

.sprite-unityingot {
  background-position: -40px -845px;
  background-size: 941px 910px;
}

.sprite-unobtanium {
  background-position: -75px -845px;
  background-size: 941px 910px;
}

.sprite-unobtanium {
  background-position: -110px -845px;
  background-size: 941px 910px;
}

.sprite-uro-coin-logo {
  background-position: -145px -845px;
  background-size: 941px 910px;
}

.sprite-uro {
  background-position: -180px -845px;
  background-size: 941px 910px;
}

.sprite-usd {
  background-position: -215px -845px;
  background-size: 941px 910px;
}

.sprite-usde {
  background-position: -250px -845px;
  background-size: 941px 910px;
}

.sprite-utilitycoin {
  background-position: -285px -845px;
  background-size: 941px 910px;
}

.sprite-utilitycoin.png {
  background-position: -320px -845px;
  background-size: 941px 910px;
}

.sprite-utrust {
  background-position: -355px -845px;
  background-size: 941px 910px;
}

.sprite-vanillacoin {
  background-position: -390px -845px;
  background-size: 941px 910px;
}

.sprite-vcash {
  background-position: -425px -845px;
  background-size: 941px 910px;
}

.sprite-vechain {
  background-position: -460px -845px;
  background-size: 941px 910px;
}

.sprite-veltor {
  background-position: -495px -845px;
  background-size: 941px 910px;
}

.sprite-verge {
  background-position: -530px -845px;
  background-size: 941px 910px;
}

.sprite-vericoin {
  background-position: -565px -845px;
  background-size: 941px 910px;
}

.sprite-vericoin {
  background-position: -600px -845px;
  background-size: 941px 910px;
}

.sprite-veritaseum {
  background-position: -635px -845px;
  background-size: 941px 910px;
}

.sprite-veriumreserve {
  background-position: -670px -845px;
  background-size: 941px 910px;
}

.sprite-veros {
  background-position: -705px -845px;
  background-size: 941px 910px;
}

.sprite-vertacoin {
  background-position: -740px -845px;
  background-size: 941px 910px;
}

.sprite-vertcoin {
  background-position: -775px -845px;
  background-size: 941px 910px;
}

.sprite-viacoin {
  background-position: -810px -845px;
  background-size: 941px 910px;
}

.sprite-vibe {
  background-position: -845px -845px;
  background-size: 941px 910px;
}

.sprite-virtacoin {
  background-position: -880px -5px;
  background-size: 941px 910px;
}

.sprite-vootcoin {
  background-position: -880px -40px;
  background-size: 941px 910px;
}

.sprite-voxels {
  background-position: -880px -75px;
  background-size: 941px 910px;
}

.sprite-vpncoin {
  background-position: -880px -110px;
  background-size: 941px 910px;
}

.sprite-vslice {
  background-position: -880px -145px;
  background-size: 941px 910px;
}

.sprite-vslice_white {
  background-position: -880px -180px;
  background-size: 941px 910px;
}

.sprite-vtorrent {
  background-position: -880px -215px;
  background-size: 941px 910px;
}

.sprite-wagerr {
  background-position: -880px -250px;
  background-size: 941px 910px;
}

.sprite-walton {
  background-position: -880px -285px;
  background-size: 941px 910px;
}

.sprite-wankcoin {
  background-position: -880px -320px;
  background-size: 941px 910px;
}

.sprite-waves {
  background-position: -880px -355px;
  background-size: 941px 910px;
}

.sprite-wavescommuni {
  background-position: -880px -390px;
  background-size: 941px 910px;
}

.sprite-wax {
  background-position: -880px -425px;
  background-size: 941px 910px;
}

.sprite-wetrust {
  background-position: -880px -460px;
  background-size: 941px 910px;
}

.sprite-whitecoin {
  background-position: -880px -495px;
  background-size: 941px 910px;
}

.sprite-wildbeastblock {
  background-position: -880px -530px;
  background-size: 941px 910px;
}

.sprite-wings {
  background-position: -880px -565px;
  background-size: 941px 910px;
}

.sprite-woodcoin {
  background-position: -880px -600px;
  background-size: 941px 910px;
}

.sprite-worldcoin {
  background-position: -880px -635px;
  background-size: 941px 910px;
}

.sprite-xaurum {
  background-position: -880px -670px;
  background-size: 941px 910px;
}

.sprite-xcurrency {
  background-position: -880px -705px;
  background-size: 941px 910px;
}

.sprite-xljhog {
  background-position: -880px -740px;
  background-size: 941px 910px;
}

.sprite-xtrabytes {
  background-position: -880px -775px;
  background-size: 941px 910px;
}

.sprite-xxxcoin {
  background-position: -880px -810px;
  background-size: 941px 910px;
}

.sprite-ybcoin {
  background-position: -880px -845px;
  background-size: 941px 910px;
}

.sprite-ybcoin_logo_60 {
  background-position: -5px -880px;
  background-size: 941px 910px;
}

.sprite-yocoin {
  background-position: -40px -880px;
  background-size: 941px 910px;
}

.sprite-zar {
  background-position: -75px -880px;
  background-size: 941px 910px;
}

.sprite-zcash {
  background-position: -110px -880px;
  background-size: 941px 910px;
}

.sprite-zccoin {
  background-position: -145px -880px;
  background-size: 941px 910px;
}

.sprite-zclassic {
  background-position: -180px -880px;
  background-size: 941px 910px;
}

.sprite-zcoin {
  background-position: -215px -880px;
  background-size: 941px 910px;
}

.sprite-zrcoin {
  background-position: -250px -880px;
  background-size: 941px 910px;
}

.sprite-gameleaguecoin {
  width: 24px;
  height: 25px;
  background-position: -285px -880px;
  background-size: 941px 910px;
}

.sprite-adelphoi {
  width: 24px;
  height: 25px;
  background-position: -319px -880px;
  background-size: 941px 910px;
}

.sprite-pangea .poker {
  width: 25px;
  height: 24px;
  background-position: -353px -880px;
  background-size: 941px 910px;
}

.sprite-shadowcoin 2 {
  width: 25px;
  height: 22px;
  background-position: -388px -880px;
  background-size: 941px 910px;
}

.sprite-1 {
  background-position: -635px -250px;
  background-size: 941px 910px;
}

