@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Electronic Highway Sign';
    src: url('../fonts/ElectronicHighwaySign.woff2') format('woff2'),
        url('../fonts/ElectronicHighwaySign.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input.v-autocomplete-input {
    color: #000;
}

.row.text-flex {
    display: flex;
    align-items: center;
}


.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}


/***menu start**/


/***menu end**/

/*banner current rate */
.homepage_banner_below {
    position: relative;
    background-size: contain;
    background: url(../img/current-rate-bg1.png) repeat-x;
    font-family: "Electronic Highway Sign";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 0px 5px;
    /*margin-top: 20px;*/
}
.top_currency {
    color: #fff;
    /*line-height: 50px;*/
}
.sprite-bitcoin {
    background-position: -285px -5px;
    background-size: 941px 910px;
}



.top_currency span {
    text-transform: uppercase;
}
.top_currency span.space_30 {
    margin: 0 20px;
}
.negative_number {
    color: red;
}
/*banner current rate end */

/*Latest News CSS Start */
.news-marquee {
    background-color: #000000;
    background-image: linear-gradient(to right, #e4c7fe 0%, #b5e3f6 100%);
    padding: 20px 0px 13px;
    font-weight: 400;
    line-height: normal;
    color: #5a508e;
    font-family: "Roboto Condensed";
    font-size: 30px;
}
.latest_news {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    background: #d9cdfc;
    padding: 16px 0px;
    text-align: center;
    position: relative;
    box-shadow: 20px 0px 20px 0px rgba(0, 6, 188, 0.31);
    z-index: 1;
}
/*Latest News CSS End */

.demo-2 {
	--color-text: #aaa;
	--color-bg: #FFF;
	--color-link: #1c1cc9;
	--color-link-hover: #aaa;
	--color-info: #1c1cc9;
	--glitch-width: 100vw;
	--glitch-height: 100vh;
	--gap-horizontal: 10px;
	--gap-vertical: 5px;
	--color-title: #00436E;
	--time-anim: 4s;
	--delay-anim: 2s;
	--blend-mode-1: none;
	--blend-mode-2: none;
	--blend-mode-3: none;
	--blend-mode-4: overlay;
	--blend-mode-5: overlay;
	--blend-color-1: transparent;
	--blend-color-2: transparent;
	--blend-color-3: transparent;
	--blend-color-4: #000;
	--blend-color-5: #1c1cc9;
}

.content__title {
    font-size: 28px;
    margin: 0;
    position: relative;
    color: var(--color-title);
    animation-name: glitch-anim-text;
    animation-duration: var(--time-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
    padding: 50px 0px 10px;
    text-align: left;
}


.content__title span.style-1 {
    font-size: 122px;
    line-height: 130px;
    font-family: 'Roboto';
    font-weight: 600;
    color: #5a508e;
}

.content__title span.style-2
{
    color: #000;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 34px;
    font-family: 'Roboto Condensed';
    
}

.main-heading {
    position: relative;
    font-family: 'Roboto Condensed', cursive;
    display: block;
    text-align: left;
    color: #000000;
    font-size: 99px;
    font-weight: 600;
    line-height: 80px;
    text-transform: uppercase;
    z-index: 1;
}

.main-heading span
{
     display: block;
     font-size: 80px;
    line-height: 95px;
}
.bottom-text {
    position: relative;
    color: #000;
    width: 480px;
    text-align: left;
    margin: 30px 0px 40px;
}

.bottom-text p {
	color: #000000;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
.header-learn-more-btn {
	color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-weight: 700;
    line-height: 67.33px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #5a508e;
    padding: 17px 45px;
}
.header-learn-more-btn:hover{
	text-decoration: none;
	color: #ffffff;
}

/* Glitch styles */
.glitch {
    position: absolute;
    right: 0;
    width: 423px;
    height: 740px;
    /* overflow: hidden; */
    /* bottom: 0px; */
    z-index: 0;
}
.glitch__img {
	position: absolute;
	top: calc(-1 * var(--gap-vertical));
	left: calc(-1 * var(--gap-horizontal));
	width: calc(100% + var(--gap-horizontal) * 2);
	height: calc(100% + var(--gap-vertical) * 2);
	background: url(../img/cryptowarden-main-right-bg.png) no-repeat 73% 0;
	background-color: var(--blend-color-1);
	background-size: contain;
	transform: translate3d(0,0,0);
	background-blend-mode: var(--blend-mode-1);
}
.glitch__img:nth-child(n+2) {
	opacity: 0;
}
.imgloaded .glitch__img:nth-child(n+2) {
	animation-duration: var(--time-anim);
	animation-delay: var(--delay-anim);
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.imgloaded .glitch__img:nth-child(2) {
	background-color: var(--blend-color-2);
	background-blend-mode: var(--blend-mode-2);
	animation-name: glitch-anim-1;
}
.imgloaded .glitch__img:nth-child(3) {
	background-color: var(--blend-color-3);
	background-blend-mode: var(--blend-mode-3);
	animation-name: glitch-anim-2;
}
.imgloaded .glitch__img:nth-child(4) {
	background-color: var(--blend-color-4);
	background-blend-mode: var(--blend-mode-4);
	animation-name: glitch-anim-3;
}
.imgloaded .glitch__img:nth-child(5) {
	background-color: var(--blend-color-5);
	background-blend-mode: var(--blend-mode-5);
	animation-name: glitch-anim-flash;
}
/**carousel**/
.carousel-caption {
	position: relative;
    color: #000;
    text-align: left;
    text-shadow: none;
    left: 0px;
}
.carousel-inner>.item {
	-webkit-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
}

/*Section Cryptocurrency Market CSS Start */
.cryptocurrency-market {
    background-color: #312d47;
    margin-top: 19px;
}

.cryptocurrency-market p {
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 50px 140px 170px 0px;
}

/*Section Cryptocurrency Market CSS End */

/*Table Style Css Start */



.price-tabination {
    margin-bottom: 20px;
}
.nav-tabs {
    border: none;
}
.nav-tabs>li {
    margin-bottom: 0px;
}
.current-price-table {
    margin-top: -130px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-radius: 10px;
    background-color: #796eaf;
    padding: 22px 0px 40px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    width: 200px;
}
.nav-tabs>li>a {
    border: none;
    box-shadow: inset 9px 5px 12px rgba(90, 80, 142, 0.15);
    border-radius: 10px;
    background-color: #b4abe1;
    padding: 22px 0px 40px;
    color: #ffffff;
    font-family: Roboto;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0px;
    width: 200px;
}
.nav-tabs>li>a:hover {
    background-color: #b4abe1;
    text-decoration: none;
}
.fade {
    opacity: 1;
}
.table-list {
    text-transform: capitalize;
    list-style: none;
    border-radius: 10px;
    background-color: #5a508e;
    padding: 23px 0px;
    margin-top: -20px;
    position: relative;
}
.table-list li, .price-list li {
    width: 100%;
    padding: 0px 30px;
}
.table-list li span, .price-list li span {
    display: inline-block;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
}
.table-list li span:nth-of-type(1), .price-list li span:nth-of-type(1) {
    width: 200px;
}
.table-list li span:nth-of-type(2), .price-list li span:nth-of-type(2) {
    width: 210px;
}
.table-list li span:nth-of-type(3), .price-list li span:nth-of-type(3) {
    width: 130px;
}
.table-list li span:nth-of-type(4), .price-list li span:nth-of-type(4) {
    width: 180px;
}
.table-list li span:nth-of-type(5), .price-list li span:nth-of-type(5) {
    width: 250px;
}
.table-list li span:nth-of-type(6), .price-list li span:nth-of-type(6) {
    width: 80px;
}
.price-list li span:nth-of-type(1), .price-list li span:nth-of-type(2) {
    color: #000000;
}
.price-list li span:nth-of-type(3), .price-list li span:nth-of-type(4), .price-list li span:nth-of-type(5) {
    color: #5a508e;
}
.price-list li span:nth-of-type(6) {
    color: #de0000;
}
.price-list {
    list-style: none;
    padding: 0px;
    margin: 25px 0px;
}
.currency-bg {
    background-position: left !important;
    padding: 0px 30px;
}
.bitcoin {
    background: url(../img/bit-img.png) no-repeat;
}
.ethereum {
    background: url(../img/ethereum-logo.png) no-repeat;
}
.table-hr {
    height: 1px;
    border-radius: 1px;
    background-color: #5a508e;
    opacity: 0.2;
}
.graph-img {
    max-width: 100%;
}


/*Table Style Css End */


/*Footer Style Css Start */
.site-footer {
    background-color: #222222;
    padding: 50px 0px;
}
.footer-list {
    list-style: none;
    padding: 0px;
}
.footer-list a {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0px;
    display: inline-block;
}
.footer-list a:hover {
    text-decoration: none;
}
.footer-calc {
    padding-left: 90px;
}
.footer-heading {
    color: #b4abe1;
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}



/*Footer Style Css End */

/* Animations */
@keyframes glitch-anim-1 {
	0% { 
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
		-webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
		clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
	}
	2% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
		clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
	}
	4% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
		clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
		clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
	}
	8% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	10% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	12% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	14% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	16% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	18% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(var(--gap-horizontal),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-2 {
	0% { 
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
		-webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
		clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
	}
	3% {
		-webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
		clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
	}
	5% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
		clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
	}
	7% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	9% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
		clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
	}
	11% {
		-webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
		clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
	}
	13% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	15% {
		-webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
		clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
	}
	17% {
		-webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
		clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
	}
	19% {
		-webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
		clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
	}
	20% {
		-webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
		clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-3 {
	0% { 
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
		clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
	}
	1.5% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
		clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
	}
	2% {
		-webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
		clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
	}
	2.5% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
		clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
	}
	3% {
		-webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
		clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
	}
	5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
		clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
	}
	5.5% {
		-webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
		clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
	}
	7% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
		clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
	}
	8% {
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	9% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
		clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
	}
	10.5% {
		-webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
		clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
	}
	11% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
		clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
	}
	13% {
		-webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
		clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
	}
	14% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
		clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
	}
	14.5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
		clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
	}
	15% {
		-webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
		clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
	}
	16% {
		-webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
		clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
	}
	18% {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
		clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
	}
	20% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
		clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
	}
	21.9% {
		opacity: 1;
		transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1);
	}
	22%, 100% {
		opacity: 0;
		transform: translate3d(0,0,0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
	}
}

@keyframes glitch-anim-text {
	0% { 
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
		-webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
		clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
	}
	2% {
		-webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
		clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
	}
	4% {
		-webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
		clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
	}
	5% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
		clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
	}
	6% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
		clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
	}
	7% {
		-webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
		clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
	}
	8% {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
		clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
	}
	9% {
		-webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
		clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
	}
	9.9% {
		transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0) scale3d(-1,-1,1);
	}
	10%, 100% {
		transform: translate3d(0,0,0) scale3d(1,1,1);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
/* Flash */
@keyframes glitch-anim-flash {
	0%, 5% { 
		opacity: 0.2; 
		transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
	}
	5.5%, 100% {
		opacity: 0;
		transform: translate3d(0, 0, 0);
	}
}
/* Animations End */



/************responsive css start**********/

@media only screen and ( min-width: 1200px ) and ( max-width: 2560px ) {

}

@media only screen and ( min-width: 1200px ) and ( max-width: 1440px ) {
	.homepage_banner_below {
	    font-size: 20px;
	}
	.top_currency {
    	line-height: 60px;
	}
	.glitch {
	    right: 20px;
    	top: 0px;
    	height: 690px;
    }
	.content__title span.style-1 {
	    font-size: 100px;
	    line-height: 110px;
    }
    .content__title span.style-2 {
    	font-size: 45px;
    }
    .main-heading {
	    /*margin-top: 20px;*/
	    font-size: 90px;
	    line-height: 100px;
    }
    .main-heading span {
	    font-size: 65px;
       line-height: 60px;
    }
    .testimonial {
    	padding: 67px 70px;
    }
    .calc-quotes {
    	font-size: 40px;
    }
    .form {
	    margin: 10px 0px 20px;
	}
	.currency-calc {
    	padding: 40px 0px 52px 90px;
    }

    .exchange_widget iframe
    {
    	margin-top: -97px;
    }

}

@media only screen and ( min-width: 992px ) and ( max-width: 1199px ) {
	
	.carousel-caption {
    	padding: 0px;
    	bottom: 0px;
	}
	.content__title span.style-1 {
	    font-size: 70px;
	    line-height: 80px;
    }
    .content__title span.style-2 {
    	font-size: 40px;
    }
	.main-heading {
	    /*margin-top: 20px;*/
	    font-size: 82px;
	    /*line-height: 95px;*/
    }	
    .main-heading span {
	    font-size: 70px;
	    line-height: 80px;
	}
	.glitch {
	    right: 30px;
	    top: 0px;
	    height: 630px;
	    width: 370px;
	}
	
}

@media only screen and ( min-width: 768px ) and ( max-width: 991px ) {
	.site-logo img {
		max-width: 90%;
	}
	.menu {
		margin: 0;
		padding: 0px;
	}
	.main-navigation ul li {
    	padding-left: 9px;
	}
	.content__title img {
		max-width: 100%;
	}
	.content__title span.style-1 {
	    font-size: 50px;
	    line-height: 50px;
    }
    .content__title span.style-2 {
	    font-size: 35px;
	    line-height: 40px;
    }
    .main-heading {
	    margin-top: 10px;
	    font-size: 70px;
	    line-height: 70px;
    }
    .main-heading span {
	    font-size: 70px;
	    line-height: 70px;
	}
	.header-learn-more-btn {
	    font-size: 15px;
	    padding: 15px 35px;
	}
	
}

@media only screen and ( max-width: 991px ) {
	.display-block{
		display: block;
	}
}

@media only screen and ( min-width: 768px ) {

}

@media only screen and ( max-width: 767px ) {

}

@media only screen and ( max-width: 479px ) {

}

@media only screen and ( max-width: 375px ) {

}

@media only screen and ( max-width: 320px ) { 
	 
}
